@font-face {
  font-family: "Minsk";
  src: url("Minsk-regular.woff") format("woff"), url("Minsk-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('fontello.woff') format('woff'),
       url('fontello.ttf') format('truetype'),
       url('fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2583395#fontello') format('svg');
  }
}
*/
/* Slider */
.slick-slider
{
    position: relative;
    z-index: 9;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
      z-index: 10;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
      line-height: 0;
      display: block;
      width: 13px;
      height: 13px;
      padding: 5px;
      cursor: pointer;
      color: red;
      border: 0;
      outline: none;
      background: #fff;
      border-radius: 30px;
}
.slick-active button{

  opacity: .6;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.clearfix:after,
.clearfix:before{
	display: table;
	content: ""
}
.clearfix:after{
	clear: both;
}
.col-md-7{
  width: 60%;
}
.col-md-6{
  width: 48%;
}
.col-md-6{
  padding-right: 4%;
}
.no-padding-right{
  padding-right: 0!important;
}
.col-md-9{
  width: 59%;
}
.col-md-5{
  width: 40%;
}
.col-md-4{
  width: 40%;
}
.col-md-8{
  width: 60%;
}


.col-md-3{
  width: 32.4%;
}
.col-md-2{
  width: 24%;
  padding-right: 4%;
}

.col-md-10{
  width: 72%;
}
.col-md-3{
  padding-right: 1.333%;
}
.col-md-2,
.col-md-9,
.col-md-10,
.col-md-3,
.col-md-6,
.col-md-8,
.col-md-4,
.col-md-5,
.col-md-7{
  float: left;
}
html,
body{
    font-family: Calibri, sans-serif;
    overflow-x: hidden;
}
.content-area{
  margin-bottom: 50px;
}

 /*
 * Header
 */
.top-hedaer-block{
  display: table;
  width: 100%;
  margin-top: 25px;
}
#logo{
  display: table-cell;
  width: 290px;
  vertical-align: middle;
}
.right-top-header,
.center-top-heder{
  display: table-cell;
  vertical-align: middle;
}
.right-top-header{
  width: 225px;
}
#logo img {
  float: left;
  vertical-align: middle;
}
#logo div{
  font-size: 34px;
  font-weight: 800;
  font-family: Georgia, sans-serif;
  color: #008fdb;
  margin-left: 12px;
  margin-top: 14px;
  line-height: 31px;
  float: left;
}
#logo p{
  font-size: 17px;
  float: left;
  margin-left: 12px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
}
.center-top-heder .center-top-heder-holder p{
    margin: 0;
    color: #868585;
    font-family: Calibri, sans-serif;
    font-weight: 200;
    font-size: 17px;
}
.center-top-heder .center-top-heder-holder{
  font-size: 17px;
  margin-left: 17px;
  float: left;
}
.center-top-heder img{
  float: left;
}
.center-top-heder-holder div{
  font-family: "Minsk";
  font-size: 23px;
}
.center-top-heder-walpaper:first-child {
    margin-right: 73px;
}
.center-top-heder-walpaper  {
    float: left;
}
.center-top-heder-holder a:hover{
  text-decoration: underline;
}
.center-top-heder-bre{
  display: table;
  margin: 0 auto;
}
.right-top-header div {
    font-size: 15px;
    font-family: "Minsk";
    color: #008fdb;
    line-height: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.right-top-header p {
    font-family: Calibri, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #868585;
    margin: 0;
    line-height: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn.btn-link-modal{
  border: 2px solid #008dd0!important;
  display: block;
  padding: 12px 16px;
  text-align: center;
  border-radius: 13px;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn.btn-link-modal:hover{

  background: #008dd0;
  color:#fff;
}
.btn.btn-link-modal:hover div,
.btn.btn-link-modal:hover p{

    color:#fff;
}
/*
* navigation
*/
.social-top{
  float: right;
}
.social-top,
.navigation{
  margin: 0;
  padding:0;
  vertical-align: middle;
  display: inline-block;
}
.navigation li{
  list-style: none;
  float: left;
    position: relative;
}

.sub-menu{
  position: absolute;
  left: -12px;
  display: none;
  margin-left: 0;
  background: #fff;
  z-index: 999;
  top: 25px;
  padding: 12px;
      width: 260px;
}
.sub-menu li{
  margin-top: 12px;
  display: block;
  width: 100%;
}
.social-top li{
  list-style: none;
  float: left;

}
.navigation a {
  font-size: 15px;
  font-family: "Minsk";
  color: #868585;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation a:hover {
  color: #008dd0;

}
.navigation li {
  margin-right: 45px;
}
.navigation li:last-child{
  margin-right: 0;
}
.bottom-header{
  padding: 15px 0;
  border-top: 1px solid #d8d8d8;
}
.social-top a{
  padding: 5px 4px;
  margin-right: 8px;
  background: #008dd0;
  color: #fff;
  border-radius: 68px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-top a:hover{
  color: #008dd0;
  background: #fff;

}
.social-top li:last-child a{
    margin-right: 0;
}
/*
* Slider
*/
.slider-walpaper{
  height: 650px;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}

#slider{
  position: relative;
}

.slider-arrow-left{
  position: absolute;
  top:50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  z-index: 9;
  font-size: 30px;
  color: #fff;
}
.slider-arrow-right{
  position: absolute;
  top:50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  z-index: 9;
  font-size: 30px;
  color: #fff;
}
.slider-block-content{

      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
}
.slider-block-content-walpaper{
    width: 47%;
    color: #fff;
    float: right;
    margin-right: 30px;
}
.title-slider{
  font-size: 63px;
      font-family: "Minsk";
      background-color: #008fdb;
      line-height: 77px;
      padding: 12px 14px;
      position: relative;
}
.text-slider{
  font-size: 34px;
  font-family: "Minsk";
  /*text-align: right;*/
  margin: 55px 0 0 0;
}
.title-slider::after{
      content: "";
      width: 0;
      height: 0;
      border-right: 40px solid transparent;
      border-top: 40px solid #008fdb;
      position: absolute;
      bottom: -38px;
}
.text-slider span{
  background-color: red;
  padding: 0 3px;
}
.title-section{
  font-size: 40px;
  font-family: "Minsk";
  margin: 40px 0;
  line-height: 55px!important;
}
#about .position{
  font-family: Calibri, sans-serif;
  font-weight: 200;
  font-size: 16px;
}
#about p{
  font-family: Calibri, sans-serif;
  font-weight: 200;
  font-size: 17px;
}
.italic{
  font-style:  italic;
}
.about-img {
  top: -30px;
position: relative;
z-index: 10;
}
#about h2{
  font-size: 21px;
  margin-bottom: 4px;
  font-family: "Minsk";
  color: #000;
  padding: 0;
}
.background-about{
  text-align: center;
  background-repeat: no-repeat!important;

}

/*
* Row use our
*/
.block-use-our{
  min-height: 204px;
}
.btn-link-to-modal{
  font-size: 20px;
  font-family: "Minsk";
}
.block-use-our p{
  font-family: Calibri, sans-serif;
  font-weight: 200;
  font-size: 19px;
}
.btn-link-to-modal{
  background-color: #cb454c;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 2px solid #cb454c;
}
.btn-link-to-modal:hover{
  background-color: #fff;
    color: #cb454c;

}
.spec-block-text-use-our{
    text-align: center;
      padding: 23px 15px;
}
.border-use-our{
      width: 100%;
      height: 1.5px;
      background-color: #eee;
      display: table;
      margin: 0 auto 42px auto;
}
.align-right{
      float: right;
}
.block-use-our-walp-2{
  background-color: #cb454c;
  position: relative;
  padding: 17px 20px;
  color: #fff;
  min-height: 93px;
  display: block;
}
.block-use-our-walp-2:hover{
  color: #fff;
}
.block-use-our-walp-2 h3,
.block-use-our h2{
  font-size: 20px;
  font-family: "Minsk";
}
.block-use-our-walp-2 img{
  position: absolute;
  right: 0;
  top: 0;
}
.block-use-our-walp-2 p{
      font-family: Calibri, sans-serif;
      font-weight: 200;
      font-size: 16px;
      text-align: left;
      line-height: 19px;
      margin-bottom: 0;
      position: relative;
      z-index: 6;
      width: 406px;
      font-style: italic;
}
.block-use-our-walp-2 h3 span{
  text-decoration: underline;
}
.block-use-our-walp-2 h3{
  color: #fff;
  font-weight: 400!important;
}
#contentSlider{
    background-color: #f7fcff;
    padding: 8px 12px;
    border: 1px solid #eee;
}
.ui-slider-handle {
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  border-radius: 15px 15px 15px 15px !important;
  -webkit-border-radius: 15px 15px 15px 15px !important;
  background: #fff;
  border: 2px solid #dadada;
  top: 50% !important;
  margin-top: -12px !important;
  margin-left: -2px !important;
  cursor: pointer !important;
  outline: none !important;
  display: inline-block!important;
}
.ui-widget-content{
  border-radius: 4px;
  background-color: #eee;
  height: 8px;
}
#slider-ui{
  position: relative;
  margin-top: 45px;
}
.block-calc p{
  font-family: Calibri, sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #cb454c;
      width: 190px;
  display: table-cell;
  vertical-align: middle;
}
.block-calc div,
.block-calc img{
  display: table-cell!important;
  vertical-align: middle;
}
.block-calc {
  display: table;
  width: 100%;
  margin-top: 45px;
}
.result-calc{
  padding: 7px 20px;
  border: 1px solid #ddd;
  border-radius: 7px;
  text-align: center;
  line-height: 34px;
  display: inline-block!important;
  font-family: Calibri, sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #cb454c;
}
/*
* Benefit
*/
#benefit{
  background: url(../images/benefit-2.jpg);
  background-repeat: no-repeat!important;
  background-size: cover!important;
}
.benefit-block h3{
  font-size: 22px;
  font-family: "Minsk";
  padding-top: 9px;
}
.benefit-block p{
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #696666;
  line-height: 23px;
  margin: 0;
}
.benefit-block{
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 40px;
      min-height: 310px;
}
.center-white{
  text-align: center;
  color: #fff;
}
.center{
  text-align: center;

}
.padding-bottom{
  padding-bottom: 30px;
}
/*
* How we work
*/
.HowWeWorkBlockTab{
  width: 799px;
  height: 5px;
  background-color: #eee;
  /* display: table; */
  margin: 0 auto;
}
.HowWeWorkBlockTab li {
      float: left;
      top: -18px;
      position: relative;
      list-style: none;
      padding: 8px 16px;
      background-color: #fff;
      border:1px solid #eee;
      color: #000;
      margin-right: 208px;
      border-radius: 23px;
      cursor: pointer;
}
.HowWeWorkBlockTab .active{
      background-color: #008fdb;
      color: #fff;
}

.HowWeWorkBlockTab li:last-child{
  margin-right: 0;
}
.block-text-how-we-work h3{
  font-size: 23px;
  font-family: "Minsk";
}
.linkInText{
  color: #cb454c;
}
.block-text-how-we-work p{
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
      margin: 0;
}
.margin-top{
  margin-top: 60px;
}

/*
* Send Message
*/
.SendMessage{
  background-color: #008fdb;
  position: relative;
}
.SendMessage img {
    position: absolute;
      right: 0;
      bottom: 0;
}
input.wpcf7-form-control {
}
.SendMessage .field{
  position: relative;
  float: left;
  width: 24%;
  padding-right: 1%;
}
.SendMessage form label{
  position: absolute;
      z-index: 9;
      left: 11px;
      top: 11px;
      font-family: Calibri, sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #636363;
      cursor: text;
}
.SendMessage form label span{
  color: red;
}
form input {
  padding: 12px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wpcf7-submit{
  background-color: transparent;
  border: 1.5px solid #fff;
  padding: 10px 80px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Minsk"!important;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #cb454c;
    border-color: #cb454c;
}
form{
  position: relative;
    z-index: 1;
}
.margin-bottom{
  margin-bottom: 60px;
}
.block-submit{
  position: relative;
  float: left;
      width: 24%;
}
.ajax-loader{
  position: absolute;
  right: -18px;
  top: 15px;
}
.checkboxFour {
    display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      background: #fff;
      overflow: hidden;
}
.checkboxFour  div {
  height: 13px;
  width:  13px;
  border-radius: 100px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: -90px;
  z-index: 1;
  background: #008fdb;
}
.checkboxFour input[type=checkbox]:checked::after {
  left: 5px;

}
.label--checkbox{
  position: relative;
  margin: 40px auto;
    display: table;
    width: 510px;
}
/*
.checkboxFour input::after{
  content: "";
  background-color: #fff;
  width: 20px;
      height: 20px;
      display: block;
}*/
.SendMessage-2 .checkboxFour input::after{
  background: #cb454c;
}
.checkboxFour input::before{
  content: "";
  height: 20px;
  width: 20px;
  position: relative;
  background: #fff;
  display: block;
  top: -6px;
  cursor: pointer;

}
.checkboxFour input::after{
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 100px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: -90px;
  font-family: Arial;
  z-index: 1;
  background: #008fdb;
}


.form-policy{
  float: left;
    margin-left: 37px;
    text-transform: uppercase;
    color: #fff;
    font-family: Calibri, sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.form-policy a{
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-size: 17px;
      color: #fff;
      text-decoration: underline;
}
.red{
  color: #cb454c;
}

/*
* Offer list
*/
.offer-list{
  margin: 0;
  padding: 0;
}
.offer-list li{
  list-style: none;
}
.offer-list li {
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-size: 19px;
}
#Offer h3{
  font-size: 25px;
  line-height: 27px;
  font-family: "Minsk"!important;
  margin-left: 30px;
}
.title-offer-list h3,
.title-offer-list img{
  display: table-cell;
  padding: 0;
      vertical-align: middle;
}
.title-offer-list img{
  margin-right: 20px;
}
.title-offer-list{
  display: table;
      margin-bottom: 30px;
}
.offer-list li img{
    display: table-cell;
    margin-right: 20px;
    position: relative;
    top: 7px;
}
.offer-list li p{
    display: table-cell;
}
.offer-list li{
  display: table;
}
.block-warning p{
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin: 0;
  /*font-style: italic;*/
}
.block-warning{
  background-color: #f7fcff;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #cac5c5;
  position: relative;
}
.img-warn{
  float: left;
  position: relative;
  margin-right: 19px;
  top: 10px;
}
.check-bg{
  position: absolute;
  bottom: 0;
  right: 0;
}
/*
* Our Service
*/
.ourServiceBlock img{
  max-width: 100%;
  vertical-align: middle;
}
.ourServiceBlock{
  position: relative;
}
.col-md-6.service-col{
  width: 49.7%;
  padding-bottom: .5%;
  padding-right: .5%;
}
.service-col-nopadding{
  padding-right: 0!important;
}
.service-text-block{
  position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.service-text-block a{
  color: #fffe94;
  border-bottom: 1px solid;
  font-family: Calibri, sans-serif;
  font-weight: 200;
  font-size: 19px;
}
.service-text-block h3{
    font-size: 29px;
    font-weight: 400!important;
    color: #fff;
    font-family: "Minsk"!important;
    margin-bottom: 10px;
}
.title-our-service{
  color: #536a75;
  font-size: 30px;
      line-height: 40px;
  background-color: #fff;
  font-weight: 400!important;
  font-family: "Minsk"!important;
  padding: 9px 35px;
  position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            border-radius: 3px;
    border: 1px solid #eee;
}
.relative{
      position: relative;
}
#OurService{
  margin-top: 50px;
  margin-bottom: 50px;
}
/*
* Client
*/
.slider-walpaper-client{
  text-align: center;
  padding: 0 30px;
}
.slider-walpaper-client img{
  margin: 0 auto;
  display: table;
  border-radius: 50%;
}
.slider-client-title{
  font-size: 22px;
  font-weight: 400!important;
  margin: 26px 0 0 0;
  font-family: "Minsk"!important;
}
.slider-content-client{
      padding: 16px 0 0 0;
}
.slider-content-client,
.client-city{
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 18px;

}
.client-city{
  font-style: italic;
  line-height: 45px;
}

.client-city::after{
    content: "";
    border-bottom: 1px solid #eee;
    width: 68%;
    display: block;
    margin: 0 auto;
}
.link-client-more{
  color: #cb454c;
  border: 1.6px solid;
  padding: 13px;
  display: inline-block;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.link-client-more:hover{
  background-color: #cb454c;
  color: #fff;

}
.block-link-client{
  text-align: center;
  margin: 40px 0;
}


#SendClients  .slider-arrow-right,
#SendClients  .slider-arrow-left {

    z-index: 9;
    color: #d4d4d4;
}
#SendClients  .slider-arrow-right:hover,
#SendClients  .slider-arrow-left:hover {
  color: #000;
}
#SendClients  .slider-arrow-left {
    left: -50px;
}
#SendClients  .slider-arrow-right{
    right: -50px;

}
/*
* Footer
*/
.footer-block-list{
  margin: 0;
  padding: 0;
  display: inline-block;

}
.footer-block-list li{
  list-style: none;
  float: left;
  padding-right: 100px;
  color: #2a2a2a;
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
footer{
      background-color: #f7f6f6;
}
.footer-oth{
  margin: 0;
  padding: 10px 0;
  background-color: #eeeeee;
  color: #555555;
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.footer-oth a{
  color: #555555;
}
.footer-oth a:hover{
  text-decoration: underline;
}
.white{
  color: #fff;
}

.SendMessage-2 {
    background-color: #cb454c;
    overflow: hidden;
}
.SendMessage-2 .title-section{
  font-size:30px;

}
.SendMessage-2  .block-submit .wpcf7-submit:hover{
    background-color: #008fdb;
      border-color: #008fdb;

}
.SendMessage-2  .block-submit{
  display: inline-block;
}
.SendMessage-2 img {
      right: -259px;
}
.SendMessage-2 p{
  width: 50%;
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  line-height: 29px;
}
/*
* Servcie
*/
#first-section-service{
  height: 880px;
  background-color: #cb454c;
  position: relative;
}
.title-section.service{
  font-size: 34px;
  font-weight: 400;
}
.home-img{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;

}
.z-up{
  z-index: 9;
  position: relative;
}
.last-class-first-page p{
  text-align: center;
  margin-bottom: 50px!important; 
  color: #ffe1c2!important;
  font-size: 22px!important;
}
#first-section-service .col-md-3{
    padding-right: 8%;
}
#first-section-service .with-quote{
    border-left: 5px solid #ffe1c2;
    padding-left: 12px;
}
#first-section-service h3{
  color: #ffe1c2;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Minsk"!important;
}
#first-section-service p{
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  color: #fff;
  line-height: 23px;
}
.feature-service{
  background-color: #fff;
  padding: 30px;
  position: relative;
  margin: 50px 78px;
  min-height: 67px;
  z-index: 5;
}
.feature-service::after{
  content: "";
  border-top: 128px solid transparent;
  border-right: 32px solid #fff;
  left: -32px;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0px;
}
.feature-service::before{
  content: "";
      border-bottom: 127.5px solid transparent;
      border-left: 30px solid #fff;
      right: -30px;
      position: absolute;
      bottom: 0;
}
.calibri{
      font-weight: 400!important;
      text-align: center;
      line-height: 27px;
      width: 80%;
    margin: 40px auto;
}
.calibri,
.feature-service p{
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 21px;

}
.feature-service p{
  color: #cb454c!important;

    line-height: 27px;
}
.feature-service p span{
  font-weight: 800;
}
.feature-service img{
  float: left;
  padding-right: 30px;
      padding-bottom: 41px;
}
#get-use-our {
      margin-top: 20px;
}
/*
* Row Dont Wait
*/
.dont-wait-block {
  background-color: #008fdb;
  padding: 35px 30px;
  border-radius: 4px;
  display: table;
      min-height: 100px;
}
.dont-wait-block img{
  display: table-cell;
  vertical-align: middle;
  margin-right: 30px;
  padding-top: 12px;
}
#dont-wait .col-md-6{
  padding-right: 1.5%;
  padding-bottom: 1.5%;
      width: 49.2%;
}

.dont-wait-block p{
  font-family: Calibri, sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
.five-step-block-bottom p,
.dont-wait-block-bottom p{
  margin: 0;
  color: #fff;

}
.col-five-step-block{
  position: relative;
}
.arrow-start-five-steps{
  display: block;
  width: 12px;
      z-index: 9;
    border-radius: 50%;
  height: 12px;
  background-color: #cb454c;
}
.arrow-end-five-steps{
  display: block;
  width: 12px;
  border-radius: 50%;
      z-index: 9;
  height: 12px;
  background-color: #008fdb;
}

 #five-step  .col-md-6{
   padding-right: 2%;
 }
 #five-step  .col-md-4{
   width: 33.33%;
 }

#Myth p,
.five-step-block-bottom p,
.dont-wait-block-bottom p{
  font-family: Calibri, sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 18px;
}



.dont-wait-block-bottom{
  padding: 30px;
  background-color: #cb454c;
  border-radius: 4px;
  margin-bottom: 10px;
}
 #five-step img{
   max-width: 100%;
 }

 #five-step{
   position: relative;

 }
 .check-bg-service{
   position: absolute;
     top: 145px;
   right: 0;
 }
 .tooltip-five-step{
   position: absolute;
    background: #fff;
    padding: 12px;
        z-index: 99;
            text-align: left;
    display: none;
    min-height: 150px;

    border: 1.5px solid #eee;
 }
 .arrow-start-five-steps:hover div,
 .arrow-end-five-steps:hover div{
    display: block;
 }
 .tooltip-five-step::before {
      content: "";
       border-top: 178px solid transparent;
       border-right: 18px solid #edecec;
       left: -19px;
       position: absolute;
       width: 0;
       height: 0;
       bottom: 0px;
}
 .tooltip-five-step::after {
       content: "";
       border-bottom: 29px solid transparent;
       border-right: 375px solid #edecec;
       left: -20px;
       position: absolute;
       width: 0;
       height: 0;
       /* top: 11px; */
       bottom: -29px;
}
 .tooltip-five-step p{
   font-family: Calibri, sans-serif;
   font-weight: 200;
   font-size: 18px;
   margin: 0;
 }
/* #five-step a{
  margin: 30px 0;
  display: inline-block;
  z-index: 5;
  position: relative;
}*/
.five-step-block-bottom p{
  color: #000;
  font-weight: 400;
  line-height: 27px;
}
.five-step-block-bottom {
  background-color: #eac359;
  padding: 20px 30px;
  text-align: center;
margin: 30px 0 10px;
}
.Plus-block{
  margin: 50px 0;
  padding: 30px 50px;
  border: 5px solid #008fdb;
}
.Plus-minus-block{
  padding: 30px 50px;
  border: 5px solid #cb454c;
}
.Plus-block h3,
.Plus-minus-block h3{
  text-align: center;
    position: relative;
    padding: 0 16px;
    top: -45px;
    background-color: #fff;
    display: table;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    font-family: "Minsk"!important;
}
.Plus-block p,
.Plus-minus-block p{
  width: 49%;
display: table;
margin: 0 auto 30px;
text-align: center;
font-style: italic;
}
.col-md-plus-block img{
  float: left;
  margin-right: 20px;
}
.col-md-plus-block p{
  width: auto;
  font-style: normal;
  text-align: left;
  margin-bottom: 30px;
}
#Plus-minus .col-md-6{
  padding-right: 2%;
}
.service-page-five-step .title-section{
    margin-top: 0px;
}
.plus-minus-block-bottom{
    position: relative;
    background-color: #f8c452;
    line-height: 29px;
    width: 54%;
    display: table;
      margin: 20px auto;
    padding-left: 15px;
}
.plus-minus-block-bottom::after{
      content: "";
      background-image: url(../images/end-2.png);
      background-repeat: no-repeat!important;
      background-size: cover!important;
      display: block;
      width: 103px;
      height: 29px;
      position: absolute;
      right: -102px;
      top: -.4px;
}
.plus-minus-block-bottom img{
    position: absolute;
    top: -13px;
    left: -47px;
}
.plus-minus-block-bottom-wallpaper img {
      vertical-align: middle;
}
.plus-minus-block-bottom-wallpaper{
  background-color: #008fdb;
}
.plus-minus-block-bottom-wallpaper p{
  color: #fff;
  width: 90%;
  font-family: Calibri, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 26px 0px;
}
.myth-block p{
  margin: 0;
  padding-top: 30px;
  color: #fff;
}
.myth-block{
  padding: 40px;
  background-color: #cb454c;
  min-height: 145px;
  border-radius: 4px;
}
#Myth .col-md-4{
  width: 32.333%;
  padding-right: 1.5%;
  padding-bottom: 1.5%;
}
.myth-block-alt{
  padding: 40px;
  min-height: 208px;
  border: 1.5px solid #eee;
  border-radius: 4px;
}
.myth-block-alt img{
  padding-bottom: 30px;
}
.myth-custom-margin{
  margin: 50px 0;
}

#live-idji{
  position: relative;
  background-color: #008fdb;
}
.bg-live{
  position: absolute;
  top: 0;
  right: 0;
      height: 100%;
}
.live-idji-block-bottom{
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 4px;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}
.live-idji-block{
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  display: table;
  min-height: 74px;
}
.live-idji-block img {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
  padding-top: 11px;
}
#live-idji .col-md-6 {
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    width: 49.2%;
}
.live-idji-block p{
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
.live-idji-block-bottom {
      margin-bottom: 60px;
}
.live-idji-block-bottom p,
.live-idji-block-bottom img{
  display: table-cell;
  vertical-align: middle;
}
.live-idji-block-bottom img{
  padding-right: 30px;
}/*
#live-idji{
  background-image: url(../images/bg-live-2.png);
  background-repeat: no-repeat!no-repeat;
  background-size: cover!important;

}*/

/*
* Modal
*/
.modal-form {
  visibility: hidden;
  opacity: 0;
  background-color: #cb454c;
  position: fixed;
      z-index: 99999;
      width: 680px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
}
.modal-form input[type="submit"]:hover {
    background-color: #008fdb;
    border-color: #008fdb;
}
.modal-form img{

  position: absolute;
  bottom: 0;
  left: 0;

}
.close-modal-block{
  position: absolute;
  right: 0;
  top:0;
}
.close-modal-block::after{
  content: "";
  display: block;
  border: 40px solid transparent;
  border-top: 40px solid #932c32;
  border-right: 40px solid #932c32;
}
.close-modal-block_wallpaper::after{
  content: "";
  display: block;
  border: 9px solid transparent;
  border-top: 9px solid #fff;
  border-right: 9px solid #fff;
}

.close-modal-block_wallpaper{
    position: absolute;
      top: 17px;
      right: 17px;
}
.modal-form .checkboxFour input::after{
  background: #cb454c;

}
.modal-form .block-submit{
  float: none;
  width: 100%;
}
.modal-form .wpcf7-submit{
  width: 100%;
}
.modal-form form{
  width: 60%;
  display: table;
  margin: auto;
}
.modal-form .field{
    position: relative;
        margin-bottom: 30px;
}
.modal-form form label {
      position: absolute;
      z-index: 9;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: block;
      top: 11px;
      font-family: Calibri, sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #636363;
      cursor: text;
}
.overlay-layer{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 89999;
  visibility: hidden;
  opacity: 0;
}
.close-modal-block:hover{
  cursor: pointer;
}
.overlay-display{
  visibility: visible;
  opacity: 1;
}
/*
* Page Calculate
**/
.calculate-page-walp .col-md-6{
  padding-right: 2%;
}
.form-calculate{
      margin: 50px 0;
}
.calculator-page .checkboxFour{
  border: 2px solid #dadada;
}
.calculator-page{
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 155px;
}
.check-property{
  opacity: 0;
  margin-top: 70px;
  visibility: hidden;
  display: none;
}
.show-block{
  opacity: 1;
  visibility: visible;
  display: block;
}
.calculate-form-submit{
      border: 2px solid #008dd0!important;
      display: block;
      padding: 17px 16px;
      cursor: pointer;
      text-align: center;
      border-radius: 13px;
      background-color: transparent;
      color: #008dd0;
      margin-bottom: 12px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
}
.calculate-form-submit:hover{
    background-color: #008dd0!important;
    border-color: #008dd0;
    color: #fff;
}
#result-calculate{
      margin-bottom: 50px;
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover .hamburger-inner::before, .hamburger:hover .hamburger-inner::after, .hamburger:hover .hamburger-inner {
  background-color: #cb454c;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  /*transition: all 0.3s ease;*/
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #008dd0;
  border-radius: 4px;
  /*transition: all 0.3s ease;*/
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.menu-open {
  display: block !important;
}
#mobile-bar{
      position: absolute;
      right: 137px;
      top: -13px;
      display: none;
}
/*
 Five Steps Blocks
**/
.bottom-header-wallpaper{
  display: inline-block;
}
.col-five-step-block.One_step .block-five-step-arrow{
  position: absolute;
  top: 0;
  right: -34px;
}
.col-five-step-block.One_step .arrow-start-five-steps{
  display: inline-block;
  top: 26px;
  position: absolute;
  left: -27px;
}
.col-five-step-block.One_step .arrow-end-five-steps{
  position: absolute;
  bottom: -9px;
  right: -19px;

}
.col-five-step-block.One_step .tooltip-five-step{
  top: 25px;
  right: -128px;
  width: 354px;
}
.col-five-step-block.Two_step{
  text-align:center;
}
.col-five-step-block.Two_step .Two_step-img_first{
  margin-top: 58px;
}
.col-five-step-block.Two_step .block-five-step-arrow{
  position: absolute;
  top: 23px;
  right: -103px;
}
.col-five-step-block.Two_step .arrow-start-five-steps{

  display: inline-block;
  bottom: -12px;
  position: absolute;
  left: -10px;
}
.col-five-step-block.Two_step .arrow-end-five-steps{
  position: absolute;
  top: 3px;
  right: -19px;

}
.col-five-step-block.Two_step .tooltip-five-step{
  top: 100px;
  right: -259px;
  width: 354px;

}
.col-five-step-block.Tree_Step .arrow-start-five-steps{
  display: inline-block;
  top: 150px;
  position: absolute;
  left: 75px;
}
.col-five-step-block.Tree_Step .tooltip-five-step{
  top: 150px;
  left: 75px;
  width: 354px;

}
.col-five-step-block.Tree_one_step{
  text-align:center;
  margin-top: 70px;
}
.col-five-step-block.Tree_one_step .block-five-step-arrow{
  position: absolute;
  top: -117px;
  right: -280px;
}
.col-five-step-block.Tree_one_step .arrow-end-five-steps{
  position: absolute;
  bottom: -1px;
  left: -22px;
}
.col-five-step-block.Tree_one_step .tooltip-five-step{
  top: 36px;
  left: 219px;
  width: 354px;
  height: 150px;
}
.col-five-step-block.Tree_two_step {
  text-align:center;
  margin-top: 70px;
}
.col-five-step-block.Tree_two_step .block-five-step-arrow{
   position: absolute;
   top: -108px;
    right: 279px;
}
.col-five-step-block.Tree_two_step .arrow-end-five-steps{
  position: absolute;
  bottom: -13px;
  left: -12px;
}
.col-five-step-block.Tree_two_step .tooltip-five-step{
   top: 25px;
   left: 195px;
   width: 354px;
}
.col-five-step-block.Four_one_step{
  text-align:center;
  margin-top: 150px;
}
.col-five-step-block.Four_one_step .block-five-step-arrow{
  position: absolute;
  top: -105px;
  left: 205px;
}
.col-five-step-block.Four_one_step .arrow-end-five-steps{
position: absolute;
bottom: -9px;
right: 18px;

}
.col-five-step-block.Four_one_step .arrow-start-five-steps{
  display: inline-block;
  top: -23px;
  position: absolute;
  left: 17px;
}
.col-five-step-block.Four_one_step .tooltip-five-step{
   top: -128px;
   left: 222px;
   width: 354px;
}
.col-five-step-block.Four_two_step{
  text-align:center;
  margin-top: 74px;
}
.col-five-step-block.Four_two_step .img-Four_two_step{
  margin-top: 58px;
}
.col-five-step-block.Four_two_step .block-five-step-arrow{
  position: absolute;
  top: -34px;
  left: 308px;
}
.col-five-step-block.Four_two_step .arrow-start-five-steps{
  display: inline-block;
   top: -19px;
   position: absolute;
   left: -5px;
}
.col-five-step-block.Four_two_step .arrow-end-five-steps{
  position: absolute;
  bottom: -15px;
  right: -4px;

}
.col-five-step-block.Four_two_step .tooltip-five-step{
   top: -53px;
   left: 303px;
    width: 354px;
}
.top-text-ip{
  font-style: italic;
  color: #ffe1c2!important;
}
.feature-service-one{
    border:2px solid #ffe1c3;
    display: table;
    padding: 30px;
    margin: 50px 0;


}
.feature-service-one img{
  display: table-cell;
  vertical-align: top;
    padding-right: 30px;
}
.feature-service-one div{
  display: table-cell;

}
.feature-service-one h3,
.feature-service-one p{
  color: #ffe1c2!important;

}
/*
* Create Doc
*/
.warning-block{
  padding: 11px 0;
  margin: 12px 0;
  line-height: 35px!important;
  color: #ec575e;
}
.spisok li{
  margin-top: 30px;
}
.spisok   a{
  color: #008dd0;
  text-decoration: underline;
}
.important-block{
  padding: 10px;
  border: 1px solid #ef7177;
}
.warning-block::before{
  content: '';
  background: url(../images/warning-2.png);
  background-repeat: no-repeat!important;
  display: inline-block;
  width: 42px;
  padding-right: 11px;
  float: left;
  height: 42px;
}

@media   (min-width: 1201px){
  .navigation li:hover .sub-menu{
    display: block;
  }
}


@media   (max-width: 1200px){

  .navigation li {
    float: none;
    margin-bottom: 12px;
  }

  .sub-menu{
    position: relative;
    top: 0;
  }
  #mobile-bar{
        display: inline-block;
  }
  .bottom-header-wallpaper{
    position: relative;
  }
  .navigation{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 999;
    padding: 30px;
  }
}
@media (min-width: 992px)  and (max-width: 1200px){
  .container{
    width: 900px;
  }
  #five-step .col-md-6,
  #five-step .col-md-4{
    width: 100%!important;

  }
  #five-step .tooltip-five-step{
        top: 0;
        left: 57px;
        right: 0;
        bottom: 0;
        display: table-cell !important;
        vertical-align: middle;
        position: inherit;
  }
  #five-step .col-five-step-block{
    text-align: left;
    display: table;
  }
  #five-step .block-five-step-arrow a,
  #five-step .block-five-step-arrow img{
    display: none;
  }
  #five-step img {
    max-width: 100%;
    display: table-cell;
  }
  .col-five-step-block.Four_one_step,
  .col-five-step-block.Tree_Step,
  .col-five-step-block.Two_step {
    margin-top: 70px;
  }
  .col-five-step-block.Four_one_step .tooltip-five-step {
     height: 149px;
   }


  .center-top-heder-walpaper{
    float: none;
    margin-bottom: 20px;

  }
  .center-top-heder-walpaper:first-child{
    margin-right: 0!important;
  }
  .navigation{
    width: 645px;
  }

  .slider-block-content-walpaper {
    width: 55%;
  }
  #how-we-work img{
    width: 100%;
  }
  .SendMessage .block-submit{
        width: 24%;
  }
  #OurService img{
    max-width: 100%;
  }
  .wpcf7-submit {
    line-height: 25px;
  }
  #first-section-service {
    height: auto;
  }
  .feature-service {
    margin: 50px 54px 50px;
  }
  #first-section-service img{
    max-width: 100%;
  }
  .dont-wait-block p{
        display: block;
  }
  .dont-wait-block {
    min-height: 235px;
  }
  .five-step-block-bottom{
    z-index: 99;
    position: relative;
  }
  .plus-minus-block-bottom img {
    position: absolute;
    top: -12px;
    left: -30px;
  }
  .plus-minus-block-bottom {
    padding-left: 38px;
  }
  .plus-minus-block-bottom::after{
    display: none;
  }
  .myth-block-alt {
    min-height: 226px;
  }
  .live-idji-block {
    min-height: 99px;
  }
  .live-idji-block img {
    padding-top: 24px;
  }
  .footer-block-list li {
    padding-right: 17px;
  }
}
@media  (max-width: 991px){
  #five-step .block-five-step-arrow a,
  #five-step .block-five-step-arrow img{
    display: none;
  }
  #five-step .col-five-step-block{
    text-align: left;
  }
  #five-step .col-md-6,
  #five-step .col-md-4{
    width: 100%!important;

  }
  .col-five-step-block.Four_one_step,
  .col-five-step-block.Tree_Step,
  .col-five-step-block.Two_step {
    margin-top: 70px;
  }
  #five-step .tooltip-five-step{
        top: 0;
        left: 57px;
        right: 0;
        bottom: 0;
        display: block;
        position: initial;
  }
  .live-idji-block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .plus-minus-block-bottom-wallpaper p {
    margin: 0 auto;
    padding: 26px 0px;
  }
  .container {
    width: 90%;
  }
  .navigation {
    top: 20px;
  }
  .title-slider::after{
    display: none;
  }
  #live-idji .col-md-6,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-4,
  .col-md-10,
  .col-md-2,
  .col-md-5,
  #dont-wait .col-md-6{
    width: 100%;
    padding-right: 0;
  }
  .background-about{
    text-align: center;
    background-position: center!important;
  }
  .about-img{
    top:0;
  }
  .benefit-block {
    min-height: 145px;
  }
  #how-we-work .col-md-2{
    text-align: center;
  }
  .SendMessage .field{
    width: 100%;
    padding-right: 0;
    padding-bottom: 1%;
  }
  .block-submit{
        display: block;
        float: none;
  }
  .SendMessage-2 .block-submit,
  .wpcf7-submit{
    width: 100%;
        display: block;
  }
  .offer-list {
    margin-bottom: 30px;
  }
  .col-md-6.service-col {
    width: 100%;
    padding-bottom: .5%;
    padding-right: 0;
    text-align: center;
  }
  #OurService .col-md-12{
    overflow: hidden;
  }
  #OurService img
  .col-md-9,
  .col-md-3 {
    width: 100%;
  }

    #first-section-service{
      height: auto;
    }
    #first-section-service .col-md-3{
      text-align: center;
      margin-bottom: 30px;
    }

      .feature-service::after,
      .feature-service::before{
        display: none;
      }
      .feature-service{
        margin: 50px 0;
      }
      .block-use-our {
          min-height: 115px;
          margin-bottom: 30px;
      }
        .five-step-block-bottom{
          z-index: 99;
          position: relative;
        }
        .plus-minus-block-bottom::after{
          display: none;
        }
        .plus-minus-block-bottom {
          width: 87%;
        }
        .footer-block-list li{
          float: none;
        }
        footer .bottom-header-wallpaper{
          display: table;
          margin: 0 auto;
        }
        footer .social-top {
          display: table-cell;
          float: none;
        }
        .footer-block-list {
          display: table-cell;
          vertical-align: middle;
        }

}
@media (min-width: 768px)  and (max-width: 991px){
  .center-top-heder-walpaper{
    float: none;
    margin-bottom: 20px;

  }
  .center-top-heder-walpaper:first-child{
    margin-right: 0!important;
  }
  .navigation{
    width: 645px;
  }


  .col-md-plus-block p {
    margin: 0 0 40px;
  }

  #Myth .col-md-4{
    width: 49.2%;
    padding-bottom: 1.5%;
  }
  #Myth .col-md-4:nth-of-type(2n+2){
    padding-right: 0;
  }

  .right-top-header, .center-top-heder {
    display: initial;
  }
  .slider-block-content-walpaper {
    display: table;
    width: 86%;
     float: none;
     margin: 0 auto;
   }


}
@media  (max-width: 490px){
  .tooltip-five-step{
    width: 100%!important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-five-step-block.Two_step .Two_step-img_first,
  .col-five-step-block.Four_two_step .img-Four_two_step{
    margin: 0;
  }
  .tooltip-five-step::after,
  .tooltip-five-step::before{
    display: none;
  }

}
@media  (max-width: 767px){
  .modal-form{
    width: 100%;
  }
  .title-section {
    z-index: 9;
    position: relative;
  }
  .plus-minus-block-bottom img {
    position: absolute;
    top: 2px;
    left: -47px;
  }
  #Myth .col-md-4{
    width: 100%;
    padding-bottom: 1.5%;
  }
  .feature-service img{
    float: none;
    padding-bottom: 20px;
  }
  .navigation{
        width: 300px;
  }
  .right-top-header, .center-top-heder {
    display: inline-block;
    vertical-align: middle;
  }
  .center-top-heder-walpaper:first-child{
    margin: 0;
  }
  .center-top-heder-walpaper{
    margin: 0 0  20px;
  }
  .center-top-heder img{
    display: none;
  }
  #logo  {
     display: block;
     margin: 0 auto;
   }
   .top-hedaer-block{
     text-align: center;
   }
   .center-top-heder .center-top-heder-holder {
    text-align: left;
  }
  .title-section.service,
  .title-section {
    font-size: 28px;
    line-height: 42px;
  }
  .Plus-block p, .Plus-minus-block p {
    width: 100%;
  }
  footer .bottom-header-wallpaper {
    display: block;
    margin: 0 auto;
  }
  .footer-block-list {
    display: block;
    margin-bottom: 30px;
  }
  .dont-wait-block p {
    display: block;
    margin-top: 20px;
  }
  .slider-block-content-walpaper {
    width: 85%;
    margin: 0 auto;
    display: table;
    float: none;
  }
  .title-slider {
    font-size: 27px;
    line-height: 41px;
        text-align: right;
  }
  .text-slider {
    font-size: 17px;
    font-family: "Minsk";
    text-align: right;
    margin: 20px 0 0 0;
  }
  .slider-arrow-right {
    right: 8px;
  }
  .slider-arrow-left {
    left: 8px;
  }
  .HowWeWorkBlockTab {
    width: auto;
    height: auto;
    background-color: transparent;
    display: block;
    margin: 0 auto;
  }
  .HowWeWorkBlockTab li:last-child{
    margin-right: 208px;
  }
  .label--checkbox {
    width: 100%;
  }
  .SendMessage-2 p {
    width: 100%;
  }
  .title-our-service {
    font-size: 19px;
    padding: 9px 19px;
  }
}
